<!DOCTYPE html>
<html lang="en" ng-app="Calendar">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/calendar.css"/>
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/angular.min.js"></script>
</head>
<body>
<!--<img src="Snip20160126_7.png"/>-->
<div class="calendar" ng-controller="calCtrl">
    <div class="cal-left">
        <input type="text" class="create-event"/>

        <div class="month-year">
            <span class="this-month">{[{monthNames[selectDay.getMonth()]}]}</span>
            <span class="this-year">{[{selectDay.getFullYear()}]}</span>
            <span class="angle">
                <i class="fa fa-angle-left past-month"></i>
                <i class="fa fa-angle-right next-month"></i>
            </span>
        </div>
        <div class="calSmall">
                <div>SUN</div>
                <div>MON</div>
                <div>TUE</div>
                <div>WED</div>
                <div>THU</div>
                <div>FRI</div>
                <div>SAT</div>
            <div ng-repeat="day in selectMonth" ng-class="{true:'this-month',false:''}[day.getMonth()==selectDay.getMonth()]" >{[{day.getDate()}]}</div>
        </div>
        <div class="holidays">
            <div class="holiday TODAY">
                <span>TODAY 1/27/2016</span>

                <div>
                    <span>No Event</span>
                </div>
            </div>
            <div class="holiday">
                <span>SUNDAY 2/7/2016</span>

                <div>
                    <div class="holiday-name color-bg-A"><span>除夕</span></div>
                    <div class="holiday-time"><span>all-day</span></div>
                </div>
                <div>
                    <div class="holiday-name"><span>除夕</span></div>
                    <div class="holiday-time"><span>all-day</span></div>
                </div>
            </div>
            <div class="holiday">
                <span>SUNDAY 2/7/2016</span>

                <div>

                    <div class="holiday-name">

                        <span class="color-bg-A">除aaa夕</span>
                        <span class="color-bg-A">除夕</span>
                    </div>
                    <div class="holiday-time">
                        <span>all-day</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="cal-right">
        <div class="topbar">
            <div class="today">
                <span class="gray-background past-month"><</span>
                <span class="gray-background Today">Today</span>
                <span class="gray-background next-month">></span>
            </div>
            <div class="DWMY">
                <span class="DAY">Day</span>
                <span class="WEEK">Week</span>
                <span class="MONTH selected">Month</span>
                <span class="YEAR">Year</span>
            </div>
            <input class="search-bar" placeholder=" Search"/>
        </div>
        <div>
            <div class="week-name">
                <div>SUN</div>
                <div>MON</div>
                <div>TUE</div>
                <div>WED</div>
                <div>THU</div>
                <div>FRI</div>
                <div>SAT</div>
            </div>
            <div class="calBig">
                <div ng-repeat="day in selectMonth" ng-class="{true:'color-bg-gray',false:''}[day.getDay()==0 || day.getDay()==6]"><span ng-class="{true:'today',false:''}[day.getDate()==today.getDate() && day.getMonth()==today.getMonth()]">{[{day.getDate()}]}</span></div>
            </div>
        </div>
    </div>

</div>
<script src="js/main.js"></script>
</body>
</html>